.navbar-default .navbar-nav>li>a {
	  font-size: 20px;
    color: blue;
    text-decoration: underline;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	  color: blue;
    text-decoration: underline;
}
.divider {
    position: absolute;
    right: -1px;
    top: 10px;
    font-size: 25px;
}
table {
    border-collapse: collapse;
    width:75%;
}
th,td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}
